nav{
    height:90px;
    font-size: 18px;
    background-color: black;
    display:flex;
    color:white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width:100%;

}
.media{
    width: 190px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
.night-toggle {
    width: 33px;
    height: 33px;
    right: 20px;
    top: 20px;
    position: absolute;
    }
    .night-toggle:hover{
      cursor: pointer;
    }
    .moon {
      background-color: transparent;
      box-shadow: -6px 1px 0 3px #275e8e;
      border-left:3px solid #27476D;
      border-radius:50%;
      width: 20px;
      height: 20px;
      margin-left:8px;
      margin-top:0px;
      transition: 2s;
    }
    .sun {
      background-color: #fdd462;
      box-shadow: 2px 0px 0px 1px #D19C29;
      border-radius:50%;
      width: 26px;
      height: 26px;
      transition: 2s;
    }
    
    /* ----- optional ----- */
    .break {
      flex-basis: 100%;
      height: 0;
    }
    .opt {
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      font-family: sans-serif;
      margin-top:5%;
      text-align:center;
    }
@media screen and (max-width:700px) {
    nav{
        height: auto;
        width: 100%;
        padding: 30px 0 ;
        justify-content: center;
    }
    .media{
        padding-top: 10px;
    }
}