.photo{
  padding: 40px;
  height: 80vh;
  width: 100%;
  background: url('./images/pro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
  background-position: center;
  background-position-y: 0;
  

}
h1{
  font-size:50px;
  margin-bottom: 10px;
  background: url('./images/Vo2o.gif');
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
h2{
  font-size: 40px;
  margin-bottom: 15px;
}
h2,#p2{
  background: url('./images/image_processing20210817-11522-117f9o.gif');
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.photo  #p2{
  border: 2px solid red;
  padding: 5px 10px;
  border-radius: 5px;

}

@media screen  and (max-width:900px){
  .photo{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap:20px;
      text-align: center;
  }
  h1{
      font-size:40px;
      margin-bottom: 0px;
  }
  h2{
      font-size: 30px;
      margin-bottom: 0;

  } 
}

