.footdiv2, .footersec {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footersec {
    
    
    gap: 30px;
    height: 300px;
    
}
.footdiv2 {
    width: 500px;
}
.footdiv2, .footersec {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div {
    display: block;
}
.footart {
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.footdiv1 h6{
    font-size: 28px;
}
.footdiv2 h5{
    font-size: 20px;
}
.footdiv2 {
    display: flex;
    /* justify-content:center;
    align-items: center; */
    gap:2px;
    padding: 30px;
  }
  
  .headerbtn {
    background-color: #3498db;
    color: #fff;
    padding: 14px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Optional: Add hover effect */
  .headerBtn:hover {
    background-color: #2980b9;
  }
@media screen and (max-width: 1040px){
    .footersec {
        align-items: center;
        background-color: #000;
        color: #f5f5f5;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;
    }
}
